{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Add Subcategory Barangay</h4>
         <hr>
          <form class="forms-sample" method="POST" action="{% url 'add_subcategory_citymunc' %}">
            {% include 'includes/messages.html' %}
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputUsername2">Select Category Name</label>
              <select name="catmupname_id" class="form-control" required="true">
              
                <option value="">Select Category</option>
                {% for i in categorycitymunc %}
                 
                <option value="{{i.id}}">{{i.catcitymupname}}</option>
                
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
                <label for="exampleInputUsername2">Subcategory Name</label>
                <input type="text" placeholder="Enter Subcategory Name"  name="subcatcitymupname" class="form-control" required="true">
              </div>
          
           
            <button type="submit" class="btn btn-primary mr-2">Add</button>
            
          </form>
        </div>
      </div>
    </div>
    </div>
    {% endblock %}