{% load static %}


<!-- SUPERADMIN SIDEBAR -->
{% if user.user_type == '1' %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="profile-image">
            <img class="img-xs rounded-circle" src="/{{user.profile_pic}}" alt="profile image">
            <div class="dot-indicator bg-success"></div>
          </div>
          <div class="text-wrapper">
            <p class="profile-name">{{user.first_name}} {{user.last_name}}</p>
            <p class="designation">Administrator</p>
          </div>

        </a>
      </li>
      <li class="nav-item nav-category">
        <span class="nav-link">Dashboard</span>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_home' %}">
          <span class="menu-title">Dashboard</span>
          <i class="icon-screen-desktop menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-title">Division</span>
          <i class="icon-doc menu-icon"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'add_category' %}">Add Division</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'manage_category' %}">Manage  Division</a></li>
          </ul>
        </div>
      </li>

        
    

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic1">
          <span class="menu-title">Section</span>
          <i class="icon-doc menu-icon"></i>
        </a>
        <div class="collapse" id="ui-basic1">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'add_subcategory' %}">Add Section</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'manage_subcategory' %}">Manage  Section</a></li>
          </ul>
        </div>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic3">
            <span class="menu-title">Province </span>
            <i class="icon-doc menu-icon"></i>
        </a>
        <div class="collapse" id="ui-basic3">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'add_category_citymun' %}">Add Province</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'manage_category_citymunc' %}">Manage Province</a></li>
            </ul>
        </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic4">
          <span class="menu-title">Barangay</span>
          <i class="icon-doc menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic4">
          <ul class="nav flex-column sub-menu">
              <li class="nav-item"><a class="nav-link" href="{% url 'add_subcategory_citymunc' %}">Add City/Municipality</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'manage_subcategory_citymunc' %}">Manage City/Municipality</a></li>
          </ul>
      </div>
  </li> -->

      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic2">
          <span class="menu-title">Place</span>
          <i class="icon-doc menu-icon"></i>
        </a>
        <div class="collapse" id="ui-basic2">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'add_state' %}">Add Place</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'manage_state' %}">Manage  Place</a></li>
          </ul>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'manageusers'  %}">
          <span class="menu-title">Manage Users</span>
          <i class="icon-user menu-icon"></i>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <span class="menu-title">User Complaints</span>
          <i class="icon-doc menu-icon"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'lodgedcomplaint' %}"> All Complaints </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'newcomplaints' %}"> Not Process Yet </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'inprocesscomplaints' %}"> In Process </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'closedcomplaints' %}"> Closed Complaints </a></li>
            
          </ul>
        </div>
      </li>

      
      
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#auth1" aria-expanded="false" aria-controls="auth1">
          <span class="menu-title">Reports</span>
          <i class="icon-doc menu-icon"></i>
        </a>
        <div class="collapse" id="auth1">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'complaintsreports' %}"> Complaints Report </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'userbdreports' %}"> User Reports </a></li>
          
          </ul>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#auth2" aria-expanded="false" aria-controls="auth2">
          <span class="menu-title">Search</span>
          <i class="icon-doc menu-icon"></i>
        </a>
        <div class="collapse" id="auth2">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'searchusers' %}"> User Search </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'searchcomplaints' %}"> Complaints Search </a></li>
            <li class="nav-item"> <a class="nav-link" href=""> Division Search </a></li>
          
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'usersignup' %}">
          <span class="menu-title">New User Registration</span>
          <i class="icon-user menu-icon"></i>
        </a>
      </li>

      <!-- Map -->
      <li class="nav-item nav-category">
        <span class="nav-link">Map</span>
      </li>

       <!-- Calendar -->
      <li class="nav-item nav-category">
        <span class="nav-link">Calendar</span>
      </li>

      <li class="nav-item nav-category">
        <span class="nav-link">ROCMSQS VERSION 2</span>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'adminversiontwo' %}">View me</a></li>
        </ul>
      </li>
     
      </li>
    </ul>
  </nav>

  <!-- ADMIN SIDEBAR -->
  {% elif user.user_type == '2' %}
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="profile-image">
            <img class="img-xs rounded-circle" src="/{{user.profile_pic}}" alt="profile image">
            <div class="dot-indicator bg-success"></div>
          </div>
          <div class="text-wrapper">
            <p class="profile-name">{{user.first_name}} {{user.last_name}}</p>
            <p class="designation">Admin</p>
          </div>

        </a>
      </li>
      <li class="nav-item nav-category">
        <span class="nav-link">Dashboard</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_home' %}">
          <span class="menu-title">Dashboard</span>
          <i class="icon-screen-desktop menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <span class="menu-title">Lodge Complaints</span>
          <i class="icon-doc menu-icon"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'regcomplaint' %}"> DSWD EMAIL DIRECT<br>REGISTRATION </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'non8888regcomplaint' %}"> DSWD INQUIRY  DIRECT<br>REGISTRATION </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'paceregcomplaint' %}"> PACE REGISTRATION </a></li>
            <!-- <li class="nav-item"> <a class="nav-link" href="{% url 'pacdcomplaint' %}"> PACD REGISTRATION </a></li> -->
            <li class="nav-item"> <a class="nav-link" href="{% url 'cscccbcomplaint' %}""> CSC-CCB REGISTRATION</a></li>
            
          </ul>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{% url 'complainthistory' %}">
          <span class="menu-title">Complaint History</span>
          <i class="icon-chart menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#auth2" aria-expanded="false" aria-controls="auth2">
          <span class="menu-title">Search</span>
          <i class="icon-doc menu-icon"></i>
        </a>
        <div class="collapse" id="auth2">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'searchusers' %}"> User Search </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'searchcomplaints' %}"> Complaints Search </a></li>
            <li class="nav-item"> <a class="nav-link" href=""> Division Search </a></li>
          
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'userlogs' %}">
          <span class="menu-title">User logs</span>
          <i class="icon-chart menu-icon"></i>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#auth1" aria-expanded="false" aria-controls="auth1">
          <span class="menu-title">Reports</span>
          <i class="icon-doc menu-icon"></i>
        </a>
        <div class="collapse" id="auth1">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'complaintsreports' %}"> Complaints Report </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'userbdreports' %}"> User Reports </a></li>
          
          </ul>
        </div>
      </li>

        
    </ul>
  </nav>


    <!-- PACD SIDEBAR -->
  {% elif user.user_type == '3' %}
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="profile-image">
            <img class="img-xs rounded-circle" src="/{{user.profile_pic}}" alt="profile image">
            <div class="dot-indicator bg-success"></div>
          </div>
          <div class="text-wrapper">
            <p class="profile-name">{{user.first_name}} {{user.last_name}}</p>
            <p class="designation">User</p>
          </div>

        </a>
      </li>
      <li class="nav-item nav-category">
        <span class="nav-link">Dashboard</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'pacd_home' %}">
          <span class="menu-title">Dashboard</span>
          <i class="icon-screen-desktop menu-icon"></i>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{% url 'pacdevereg' %}">
          <span class="menu-title">PACD Every Day<br>Registration</span>
          <i class="icon-reg menu-icon"></i>
        </a>
      </li>



      <li class="nav-item">
        <a class="nav-link" href="{% url 'pacdcomplainthistory' %}">
          <span class="menu-title">Complaint History</span>
          <i class="icon-chart menu-icon"></i>
        </a>
      </li>
        
    </ul>
  </nav>

  <!-- ODUS SIDEBAR -->
  {% elif user.user_type == '4' %}
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="profile-image">
            <img class="img-xs rounded-circle" src="/{{user.profile_pic}}" alt="profile image">
            <div class="dot-indicator bg-success"></div>
          </div>
          <div class="text-wrapper">
            <p class="profile-name">{{user.first_name}} {{user.last_name}}</p>
            <div class="designation d-flex flex-column">
              <span class="badge badge-primary">ODSUS USER</span>
          </div>
          
          
          </div>

        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'odsus_home' %}">
          <span class="menu-title">Dashboard</span>
          <i class="icon-screen-desktop menu-icon"></i>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="">
          <span class="menu-title">Generation Report</span>
          <i class="icon-chart menu-icon"></i>
        </a>
      </li>



      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">
          <span class="menu-title">Logout</span>
          <i class="icon-chart menu-icon"></i>
        </a>
      </li>


        
    </ul>
  </nav>

  
  {% endif %}