{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">View Complaint Details</h4>
                {% include 'includes/messages.html' %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <!-- Complaint Details -->
                            <tr>
                                <td><b>Tracking Number</b></td>
                                <td style="color: red;">{{ complaints.complaint_text }}</td>
                                <td><b>Accountable Person Name</b></td>
                                <td>{{ complaints.userregid.admin.first_name }} {{ complaints.userregid.admin.last_name }}</td>
                                <td><b>Registration Date</b></td>
                                <td>{{ complaints.complaintdate_at }}</td>
                            </tr>
                            <tr>
                                <td><b>Name</b></td>
                                <td>{{ complaints.complainant_fname }}</td>
                                <td><b>Name of the DSWD <br>Endorsed to</b></td>
                                <td>{{complaints.endorseemp}}</td>
                                <td><b>Client Details</b></td>
                                <td>{{complaints.clientdetails}}</td>
                                <td><b>Complete Address</b></td>
                                <td>{{complaints.region_name}}, {{complaints.province_name}}, <br> {{complaints.city_name}}, {{complaints.barangay_name}} </td>
                                
                            </tr>
                            <tr>
                                <td><b>Division</b></td>
                                <td>{{ complaints.cat_id.catname }}</td>
                                <td><b>Complaint Type</b></td>
                                <td>{{ complaints.complainttype }}</td>
                                <td></td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td><b>Section</b></td>
                                <td>{{ complaints.subcategory_id.subcatname }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="mt-4">
                    <h5><b>Subject of concern</b></h5>
                    <p>{{ complaints.noc }}</p>
                </div>

                <!-- Narrative Section -->
                <div class="mt-4">
                    <h5><b>Narrative</b></h5>
                    <p>{{ complaints.complaindetails }}</p>
                </div>

                <!-- File Section -->
                <div class="mt-4">
                    <h5><b>File (if any)</b></h5>
                    {% if i.compfile == '' %}
                        <p>NA</p>
                    {% else %}
                        <p><a href="{{ i.compfile.url }}" target="_blank">View File</a></p>
                    {% endif %}
                </div>

                <!-- Status Section -->
                <div class="mt-4">
                    <h5><b>Status</b></h5>
                    {% if complaints.status == '0' %}
                        <span class="badge badge-danger">Not Processed Yet</span>
                    {% elif complaints.status == 'Inprocess' %}
                        <span class="badge badge-warning">In Process</span>
                    {% elif complaints.status == 'Closed' %}
                        <span class="badge badge-success">Closed</span>
                    {% endif %}
                </div>

                <!-- Complaint History -->
                <hr>
                <h4 class="card-title text-center">Complaint History</h4>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Remark</th>
                                <th>Status</th>
                                <th>Updation Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for remark in complaintsremarks %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ remark.remark }}</td>
                                    <td>{{ remark.status }}</td>
                                    <td>{{ remark.remarkdate }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if complaints.status == '0' or complaints.status == 'Inprocess' or i.status == 'Resolved' %}

                <p align="center"  style="padding-top: 20px">
                  <button class="btn btn-primary waves-effect waves-light w-lg" data-toggle="modal" data-target="#myModal">Take Action</button></p>
                {% endif %}
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                     <div class="modal-content">
                      <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Take Action</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                      </div>
               <div class="modal-body">
  
                <form method="POST" action="{% url 'userlodgedcomplaintremark' %}">
                    {% csrf_token %}
                     <!-- Ensure comp_id is included -->
                    <input type="hidden" name="comp_id" value="{{ complaints.id }}">
                    <div class="modal-body">
                        <table class="table table-bordered table-hover data-tables">
                            <tr>
                                <th>Remark :</th>
                                <td>
                                    <textarea name="remark" placeholder="Admin Remark" rows="5" cols="100" class="form-control wd-850" required="true"></textarea>
                                </td>
                            </tr>
                
                            <tr>
                            <th>Link for <br> uploading <br>feedback report :</th>
                            <td>
                                <a href="https://drive.google.com/drive/folders/14eTrS9hUU5456dgXklTMkBoCIV6iY_c7?usp=sharing">Please click this link <br>to upload the feedback report.<br> <hr> <i>Note: To open <br>the link, kindly right-click and select <br>"Open link in new tab."</i>
                            </td>
                        </tr>
                
                            
                            <tr>
                                <th>Status :</th>
                                <td>
                                    <select name="status" class="form-control wd-450" required="true">
                                        <option value="" selected="true">Select Status</option>
                                        <option value="Inprocess">Inprocess</option>
                                        <option value="Resolved">Resolved</option>
                                        <option value="Closed">Closed</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>

                    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmationModalLabel">Confirm Update</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to proceed with the update?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="redirectToDashboard()">Cancel</button>
                                    <button type="button" class="btn btn-primary" onclick="submitForm()">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </form>
  
                </div>
  
  
                 </div>
            </div>
        </div>
  
            </div>
        </div>
            </div>
        </div>
    </div>
</div>



<script>
    function redirectToDashboard() {
        // Use a Django template tag to inject the URL into JavaScript
        const dashboardUrl = "{% url 'user_home' %}";
        window.location.href = dashboardUrl;
    }
</script>
{% endblock %}
