{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <center><h4 class="section-title">PACE REGISTRATION</h4></center>
                <hr>

                <!-- Complaint Registration Form -->
                <form class="forms-sample" method="POST" action="{% url 'paceregcomplaint' %}" enctype="multipart/form-data">
                    {% include 'includes/messages.html' %}
                    {% csrf_token %}

                    <!-- Complaint Tracking Details -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputUsername1">Tracking Number</label>
                                <input type="text" name="complainant_pace" class="form-control" placeholder="Enter Nature of Complaint">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="date_received">Date Received</label>
                                <input type="date" name="date_received" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="time_received">Time Received</label>
                                <input type="time" name="time_received" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="time_acknowledge">Time Acknowledge</label>
                                <input type="time" name="time_acknowledge" class="form-control" required>
                            </div>
                        </div>
                     
                       
                    </div>

                    <br>
                    <center><h4 class="section-title">Sender Details</h4></center>
                    <hr>
                    
                    <!-- Complainant Information -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="complainant_fname" class="form-label">
                                    <i class="fas fa-user"></i> Name
                                    <span class="required">*</span>
                                </label>
                                <input type="text" name="complainant_fname" id="complainant_fname" class="form-control" placeholder="Enter Full Name of Complainant">
                                <small class="text-muted d-block"><i>Leave blank if the client is anonymous.</i></small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="complainant_mobile" class="form-label">
                                    <i class="fas fa-phone"></i> Contact Number
                                    <span class="required">*</span>
                                </label>
                                <input type="text" id="complainant_mobile" name="selfcomplaint_number" class="form-control" placeholder="Enter Mobile Number" maxlength="11">
                                <small class="text-muted d-block"><i>Leave blank if no mobile number is provided.</i></small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="complaint_email" class="form-label">
                                    <i class="fas fa-envelope"></i>Email Address
                                    <span class="required">*</span>
                                </label>
                                <input type="email" name="complaint_email" id="complaint_email" class="form-control" placeholder="Enter Email Address">
                                <small class="text-muted d-block"><i>Leave blank if no email address is provided.</i></small>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Complaint Type, Province, and City -->
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="provincescitymup" class="form-label">
                                    <i class="fas fa-map-marker-alt"></i> Province
                                    <span class="required">*</span>
                                </label>
                                <select name="catmupname_id" id="provincescitymup" class="form-control" required>
                                    <option value="">-- Select Province --</option>
                                    {% for provincescitymup in categorycitymups %}
                                        <option value="{{ provincescitymup.id }}">{{ provincescitymup.catcitymupname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="citymup" class="form-label">
                                    <i class="fas fa-city"></i> City
                                    <span class="required">*</span>
                                </label>
                                <select name="subcategorycitymup_id" id="citymup" class="form-control" required>
                                    <option value="">-- Select City --</option>
                                    {% for citymup in subcategorycitymups %}
                                        <option value="{{ citymup.id }}">{{ citymup.subcatcitymupname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        
                    </div>

                    <br>
                    <center><h4 class="section-title">Concern Details</h4></center>
                    <hr>

                    <!-- Concern Details -->
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="complainttype" class="form-label">
                                    <i class="fas fa-list-alt"></i> Complaint Type
                                    <span class="required">*</span>
                                </label>
                                <select name="complainttype" id="complainttype" class="form-control" required>
                                    <option value="">-- Select Complaint Type --</option>
                                    <option value="General Inquiries">General Inquiries</option>
                                    <option value="Request for Assistance">Request for Assistance</option>
                                    <option value="Complaint/Grievance">Complaint/Grievance</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="date_endorse">Date Endorsed</label>
                                <input type="date" name="date_endorse" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="time_endorse">Time Endorsed</label>
                                <input type="time" name="time_endorse" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="category">Select Division Name</label>
                                <select name="cat_id" id="category" class="form-control" required>
                                    <option value="">Select Division</option>
                                    {% for i in category %}
                                        <option value="{{ i.id }}">{{ i.catname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="subcategory">Section Name</label>
                                <select name="subcategory_id" id="subcategory" class="form-control" required>
                                    <option value="">Select Section</option>
                                </select>
                            </div>
                        </div>

                        

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="noc">Subject of Concern</label>
                                <input type="text" name="noc" class="form-control" placeholder="Enter Nature of Complaint" required>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="deadline">Deadline</label>
                                <input type="date" name="deadline" class="form-control" required>
                            </div>
                        </div>

                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="compfile">Attached Documents</label>
                                <input type="file" name="compfile" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="remind_date">Remind Date</label>
                                <span class="required">*</span>
                                <input type="date" name="remind_date" class="form-control" required>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="complaindetails">Narrative (max 2000 words)</label>
                                <textarea name="complaindetails" rows="10" class="form-control" maxlength="2000" required></textarea>
                            </div>
                        </div>


                    </div>

                    

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Include JavaScript for dynamic dropdowns -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#category').change(function() {
            var cid = $(this).val();
            $.ajax({
                url: '/get_subcat/',
                type: 'GET',
                data: { 'c_id': cid },
                success: function(data) {
                    $('#subcategory').html(data.subcat_options);
                },
                error: function(xhr) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('#provincescitymup').change(function() {
            var cids = $(this).val();
            if (cids) {
                $.ajax({
                    url: '/get_subcats/',
                    type: 'GET',
                    data: { 'c_ids': cids },
                    success: function(data) {
                        $('#citymup').html(data.subcat_options);
                    },
                    error: function(xhr) {
                        console.error('Error fetching cities:', xhr.responseText);
                    }
                });
            } else {
                $('#citymup').html('<option value="">Select City</option>');
            }
        });
    });
</script>

{% endblock %}
