{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <center><h4 class="section-title">PACE REGISTRATION</h4></center>
                <hr>

                <!-- Complaint Registration Form -->
                <form id="submitForm"  class="forms-sample" method="POST" action="{% url 'paceregcomplaint' %}" enctype="multipart/form-data">
                    {% include 'includes/messages.html' %}
                    {% csrf_token %}

                    <!-- Complaint Tracking Details -->
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="fa fa-map-pin" for="exampleInputUsername1">Tracking Number</label>
                                <input type="text" name="complainant_pace" class="form-control" placeholder="Enter Nature of Complaint">
                            </div>
                        </div>
                     
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="fa fa-calendar" for="date_received">Date Received</label>
                                <input type="date" name="date_received" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bi bi-clock-fill" for="time_received"><b>Time Received</b></label>
                                <input type="time" name="time_received" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bi bi-clock-fill" for="time_acknowledge"><b>Time Acknowledge</b></label>
                                <input type="time" name="time_acknowledge" class="form-control" required>
                            </div>
                        </div>

                       
                       
                    </div>

                    <br>
                    <center><h4 class="section-title">Sender Details</h4></center>
                    <hr>
                    
                    <!-- Complainant Information -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="complainant_fname" class="form-label">
                                    <i class="bi bi-file-person"></i> Name
                                    <span class="required">*</span>
                                </label>
                                <input type="text" name="complainant_fname" id="complainant_fname" class="form-control" placeholder="Enter Full Name of Complainant">
                                <small class="text-muted d-block"><i>Leave blank if the client is anonymous.</i></small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="complainant_mobile" class="form-label">
                                    <i class="bi bi-telephone-fill"></i> Contact Number
                                    <span class="required">*</span>
                                </label>
                                <input type="text" id="complainant_mobile" name="selfcomplaint_number" class="form-control" placeholder="Enter Mobile Number" maxlength="11">
                                <small class="text-muted d-block"><i>Leave blank if no mobile number is provided.</i></small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="complaint_email" class="form-label">
                                    <i class="bi bi-envelope-fill"></i>Email Address
                                    <span class="required">*</span>
                                </label>
                                <input type="email" name="complaint_email" id="complaint_email" class="form-control" placeholder="Enter Email Address">
                                <small class="text-muted d-block"><i>Leave blank if no email address is provided.</i></small>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Complaint Type, Province, and City -->
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="region" class="form-label">
                                    <i class="bi bi-geo-alt-fill"></i> Region
                                    <span class="required">*</span>
                                </label>
                                <select class="form-select form-control" id="region" name="region_code"></select>
                                <input type="hidden" id="region_name" name="region_name">
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="province" class="form-label">
                                    <i class="bi bi-geo-alt-fill"></i> Province
                                    <span class="required">*</span>
                                </label>
                                <select class="form-select form-control" id="province" name="province_code"></select>
                                <input type="hidden" id="province_name" name="province_name">
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="city" class="form-label">
                                    <i class="bi bi-geo-alt-fill"></i> City
                                    <span class="required">*</span>
                                </label>
                                <select class="form-select form-control" id="city" name="city_code"></select>
                                <input type="hidden" id="city_name" name="city_name">
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="brgy" class="form-label">
                                    <i class="bi bi-geo-alt-fill"></i> Barangay
                                    <span class="required">*</span>
                                </label>
                                <select class="form-select form-control" id="brgy" name="barangay_code"></select>
                                <input type="hidden" id="barangay_name" name="barangay_name">
                            </div>
                        </div>
                        

                        
                    </div>

                    <br>
                    <center><h4 class="section-title">Concern Details</h4></center>
                    <hr>

                    <!-- Concern Details -->
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="complainttype" class="form-label">
                                    <i  class="fa fa-th-list"></i> Complaint Type
                                    <span class="required">*</span>
                                </label>
                                <select name="complainttype" id="complainttype" class="form-control" required>
                                    <option value="">-- Select Complaint Type --</option>
                                    <option value="General Inquiries">General Inquiries</option>
                                    <option value="Request for Assistance">Request for Assistance</option>
                                    <option value="Complaint/Grievance">Complaint/Grievance</option>
                                </select>
                            </div>
                        </div>



                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="fa fa-comment" for="noc">Subject of Concern</label>
                                <input type="text" name="noc" class="form-control" placeholder="Enter Nature of Complaint" required>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bi bi-file-earmark-check-fill" for="compfile">Attached Documents</label>
                                <input type="file" name="compfile" class="form-control">
                            </div>
                        </div>


                    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="fa fa-comments" for="complaindetails">Narrative (max 2000 words)</label>
                                    <textarea name="complaindetails" rows="10" class="form-control" maxlength="2000" required></textarea>
                                </div>
                            </div>
                        </div>


                    </div>

                    <br>
                    <center><h4 class="section-title">Actions Taken</h4></center>
                    <hr>

                    <!-- Concern Details -->
                    <div class="row">



                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="fa fa-calendar" for="date_endorse">Date Endorsed</label>
                                <input type="date" name="date_endorse" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bi bi-clock-fill" for="time_endorse"><b>Time Endorsed</b></label>
                                <input type="time" name="time_endorse" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="fa fa-users" for="category">Select Division Name</label>
                                <select name="cat_id" id="category" class="form-control" required>
                                    <option value="">Select Division</option>
                                    {% for i in category %}
                                        <option value="{{ i.id }}">{{ i.catname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="fa fa-users" for="subcategory">Section Name</label>
                                <select name="subcategory_id" id="subcategory" class="form-control" required>
                                    <option value="">Select Section</option>
                                </select>
                            </div>
                        </div>

                        

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="fa fa-calendar" for="deadline">Deadline</label>
                                <input type="date" name="deadline" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="fa fa-calendar" for="remind_date">Remind Date</label>
                                <span class="required">*</span>
                                <input type="date" name="remind_date" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="fa fa-user" for="assigned_to">Assign to User</label>
                                <select name="assigned_to" id="assigned_to" class="form-control" required>
                                    {% for user in compusers %}
                                        {% if user.admin %}
                                            <option value="{{ user.admin.id }}">{{ user.admin.first_name }} {{ user.admin.last_name }}</option>
                                        {% else %}
                                            <option value="{{ user.id }}">Unassigned User</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cog" class="form-label">
                                    <i class="fa fa-th-list"></i> Category of Grievance
                                    <span class="required">*</span>
                                </label>
                                <select name="cog" id="cog" class="form-control" required>
                                    <option value="">-- Select Category of Grievance --</option>
                                    <option value="General Inquiries">Simple</option>
                                    <option value="Request for Assistance">Complex</option>
                                    <option value="Complaint/Grievance">Highly Technical</option>
                                </select>
                            </div>
                        </div>



                    </div>

                 
                    
                <!-- Submit Button -->
                <button type="button" class="btn btn-primary mr-2" id="submitbutton1x1" data-toggle="modal" data-target="#confirmationModal">Submit</button>

                <!-- Modal -->
                <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmationModalLabel">Confirm Submission</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to submit this form?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" id="confirmSubmit">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Include JavaScript for dynamic dropdowns -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- JavaScript for Modal -->
<script>
    // Handle the submit confirmation in the modal
    document.getElementById('confirmSubmit').addEventListener('click', function() {
        // Submit the form once confirmed
        document.getElementById('submitForm').submit(); // Make sure the form has the id 'submitForm'
    });
</script>

<script>
    document.getElementById("region").addEventListener("change", function () {
    const selectedRegion = this.options[this.selectedIndex];
    document.getElementById("region_name").value = selectedRegion.textContent;

    // Clear dependent fields and update provinces
    fetchProvinces(selectedRegion.value);
});

document.getElementById("province").addEventListener("change", function () {
    const selectedProvince = this.options[this.selectedIndex];
    document.getElementById("province_name").value = selectedProvince.textContent;

    // Clear dependent fields and update cities
    fetchCities(selectedProvince.value);
});

document.getElementById("city").addEventListener("change", function () {
    const selectedCity = this.options[this.selectedIndex];
    document.getElementById("city_name").value = selectedCity.textContent;

    // Clear dependent fields and update barangays
    fetchBarangays(selectedCity.value);
});

document.getElementById("brgy").addEventListener("change", function () {
    const selectedBarangay = this.options[this.selectedIndex];
    document.getElementById("barangay_name").value = selectedBarangay.textContent;
});
</script>

<script>

    async function populateRegionDropdown() {
        const apiUrl = "https://psgc.gitlab.io/api/regions/";
        const selectElement = document.getElementById("region");
        const defaultValue = "160000000";

        try {
            // Fetch data from the API
            const response = await fetch(apiUrl);
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            const regions = await response.json();

            // Clear existing options (if any)
            selectElement.innerHTML = "";

            // Populate the dropdown
            regions.forEach(region => {
                const option = document.createElement("option");
                option.value = region.code;
                option.textContent = region.regionName;
                selectElement.appendChild(option);
            });

            // Set default selected value
            selectElement.value = defaultValue;

            fetchProvinces(160000000)
        } catch (error) {
            console.error("Error fetching or populating regions:", error);
        }
    }

    // Call the function to populate the dropdown
    populateRegionDropdown();

    async function fetchProvinces(regionCode) {
        const apiUrl = `https://psgc.gitlab.io/api/regions/${regionCode}/provinces/`;
        const provinceSelect = document.getElementById("province");
        const defaultValue = "160200000";

        try {
            // Fetch data using POST method
            const response = await fetch(apiUrl, {
                method: "GET",
            });

            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }

            const provinces = await response.json();

            // Clear existing options in the province dropdown
            provinceSelect.innerHTML = "";

            const option = document.createElement("option");
            option.value = "";
            option.textContent = "";
            provinceSelect.appendChild(option);

            // Populate the province dropdown
            provinces.forEach(province => {
                const option = document.createElement("option");
                option.value = province.code;
                option.textContent = province.name;
                provinceSelect.appendChild(option);
            });

            fetchCities(160200000);
        } catch (error) {
            console.error("Error fetching or populating provinces:", error);
        }
    }

    async function fetchCities(provinceCode) {
        
        const apiUrl = `https://psgc.gitlab.io/api/provinces/${provinceCode}/cities-municipalities/`;
        const citySelect = document.getElementById("city");
        const defaultValue = "160202000";

        try {
            // Fetch data using POST method
            const response = await fetch(apiUrl, {
                method: "GET",
            });

            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }

            const cities = await response.json();

            // Clear existing options in the province dropdown
            citySelect.innerHTML = "";

            const option = document.createElement("option");
            option.value = "";
            option.textContent = "";
            citySelect.appendChild(option);

            // Populate the province dropdown
            cities.forEach(city => {
                const option = document.createElement("option");
                option.value = city.code;
                option.textContent = city.name;
                citySelect.appendChild(option);
            });
        } catch (error) {
            console.error("Error fetching or populating provinces:", error);
        }

        fetchBarangays(160202000)
    }

    async function fetchBarangays(cityCode) {
        
        const apiUrl = `https://psgc.gitlab.io/api/cities-municipalities/${cityCode}/barangays/`;
        const barangaySelect = document.getElementById("brgy");

        try {
            // Fetch data using POST method
            const response = await fetch(apiUrl, {
                method: "GET",
            });

            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }

            const barangays = await response.json();

            // Clear existing options in the province dropdown
            barangaySelect.innerHTML = "";

            const option = document.createElement("option");
            option.value = "";
            option.textContent = "";
            barangaySelect.appendChild(option);

            // Populate the province dropdown
            barangays.forEach(brgy => {
                const option = document.createElement("option");
                option.value = brgy.code;
                option.textContent = brgy.name;
                barangaySelect.appendChild(option);
            });
        } catch (error) {
            console.error("Error fetching or populating provinces:", error);
        }
    }
    
    // Add event listener for the region dropdown
    document.getElementById("region").addEventListener("change", function () {

        const provinceSelect = document.getElementById("province");
        provinceSelect.innerHTML = '';

        const citySelect = document.getElementById("city");
        citySelect.innerHTML = '';

        const barangaySelect = document.getElementById("brgy");
        barangaySelect.innerHTML = '';
        
        const selectedRegionCode = this.value;

        if (selectedRegionCode) {
            fetchProvinces(selectedRegionCode);
        }
        
    });

    // Add event listener for the province dropdown
    document.getElementById("province").addEventListener("change", function () {

        const citySelect = document.getElementById("city");
        citySelect.innerHTML = '';

        const barangaySelect = document.getElementById("brgy");
        barangaySelect.innerHTML = '';

        const selectedProvinceCode = this.value;

        if (selectedProvinceCode) {
            fetchCities(selectedProvinceCode);
        }

    });

    // Add event listener for the cities dropdown
    document.getElementById("city").addEventListener("change", function () {
        
        const barangaySelect = document.getElementById("brgy");
        barangaySelect.innerHTML = '';

        const selectedCityCode = this.value;

        if (selectedCityCode) {
            fetchBarangays(selectedCityCode);
        }
    });


</script>





<script>
    $(document).ready(function() {
        $('#category').change(function() {
            var cid = $(this).val();
            $.ajax({
                url: '/get_subcat/',
                type: 'GET',
                data: { 'c_id': cid },
                success: function(data) {
                    $('#subcategory').html(data.subcat_options);
                },
                error: function(xhr) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('#provincescitymup').change(function() {
            var cids = $(this).val();
            if (cids) {
                $.ajax({
                    url: '/get_subcats/',
                    type: 'GET',
                    data: { 'c_ids': cids },
                    success: function(data) {
                        $('#citymup').html(data.subcat_options);
                    },
                    error: function(xhr) {
                        console.error('Error fetching cities:', xhr.responseText);
                    }
                });
            } else {
                $('#citymup').html('<option value="">Select City</option>');
            }
        });
    });
</script>

{% endblock %}
